<footer class="site-footer" role="contentinfo">
  <div class="wrapper">
    <ul class="site-footer__list">
      <li class="site-footer__item"><a href="/blog" class="site-footer__link">Blog</a></li>
      <li class="site-footer__item"><a href="https://github.com/agtlucas" class="site-footer__link">GitHub</a></li>
      <li class="site-footer__item"><a href="https://twitter.com/_agtlucas" class="site-footer__link">Twitter</a></li>
      <li class="site-footer__item"><a href="http://linkedin.com/in/agtlucas" class="site-footer__link">LinkedIn</a></li>
    </ul>
    <small class="site-footer__copyright site-copyright">&copy; {{ site.time | date: '%Y' }} - Lucas - <a href="http://thenounproject.com/term/ninja/23386/">Ninja logo created by Guillaume Bahri from Noun Project</a></small>
  </div>
</footer>
