<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  {% if page.url == '/index.html' %}
  <style>
  {% include assets/css/home.css %}
  </style>
  {% else %}
  <style>
  {% include assets/css/main.css %}
  </style>
  {% endif %}
  {% if page.class == 'posts' %}
  <link rel="stylesheet" href="{{ "css/highlight.css" | prepend: site.baseurl }}">
  {% endif %}
  <meta name="description" content="{{ site.description }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@_agtlucas">
  <meta name="twitter:creator" content="@_agtlucas">
  <meta property="og:url" content="http://agtlucas.com{{ page.url }}">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  {% include favicon.html %}
</head>
