// Blog styles

.post-container {
  padding: em(25) 0;

  @include media($mobile) {
    text-align: center;
  }

  @include media($tablet) {
    text-align: center;
  }

  @include media($desktop-x) {
    margin-left: em(65);
  }
}

.post-title {
  font-size: rem(26);
  font-weight: bold;
  text-decoration: none;
}

.post-title__link {
  &:hover {
    text-decoration: underline;
  }
}

.post-date {
  display: block;
  font-style: italic;
}

.post-divider__fire {
  font-size: rem(20);
  display: block;
  margin: em(25) 0 0 0;
}

.post-content {
  position: relative;
  p {
    font-size: em(25);
  }

  blockquote {
    font-style: italic;
    padding: em(5) 0;
    width: 100%;
    margin: 0;
    p {
      margin-top: 0;
      text-align: center;
      &:before {
        padding-bottom: em(10);
        display: block;
        content: "❖";
        text-align: center;
        font-style: normal;
      }
    }
  }

  li {
    margin-left: em(20);
  }

}

p {
  code {
    padding: em(3) em(7);
  }
}

.dark {
  p {
    code {
      background: $ablue;
    }
  }
}

.default {
  p {
    code {
      background: lighten($adark, 50);
    }
  }
}

iframe {
  display: block;
  margin: auto;
}

.show-comments {
  text-align: center;
}
