// Blog styles

.post-container {
  padding: em(25) 0;

  @include media($mobile) {
    text-align: center;
  }

  @include media($tablet) {
    text-align: center;
  }

  @include media($desktop-x) {
    margin-left: em(65);
  }
}

.post-title {
  font-size: rem(26);
  font-weight: bold;
  text-decoration: none;
}

.post-title__link {
  &:hover {
    text-decoration: underline;
  }
}

.post-date {
  display: block;
  font-style: italic;
}

.post-divider__fire {
  font-size: rem(20);
  display: block;
  margin: em(25) 0 0 0;
}

.post-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  p,
  blockquote {
    @include outer-container;
    padding: 0 em(20);
  }
}
