// Header styles
.site-header {
  @include clearfix();
}

.site-logo__text {
  display: none;
  visibility: hidden;
}

.ninja {
  @include media($mobile) {
    display: block;
    margin: auto;
  }

  @include media($tablet) {
    display: block;
    margin: auto;
  }

  @include media($desktop-x) {
    position: fixed;
    left: 0;
    z-index: 2;
    display: block;
    &:hover {
      @include transform(scale(0.9) rotate(-3deg));
    }
  }
}


.dark {
  .ninja {
    fill: $aww;
    &:hover {
      fill: darken($aww, 20);
    }
  }
}

.default {
  .ninja {
    fill: $ablack;
    stroke: lighten($ablack, 20);
    &:hover {
      fill: lighten($ablack, 20);
    }
  }
}
