// Index

.hello-world {
  font-family: Georgia, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
  text-align: center;
}

.lucas {
  display: block;
  margin: auto;
  border-radius: 100%;
}

.hello-world__text {
  font-size: rem(30);
  font-weight: bold;
  padding-bottom: em(15);
}

.dark {
  .hello-world__text {
    border-bottom: 2px dashed $ared;
  }
}

.default {
  .hello-world__text {
    border-bottom: 2px dashed $ablue;
  }
}

.hello-world__item {
  font-size: rem(20);

  @include media($mobile) {
    margin: em(20) 0;
  }

  @include media($tablet) {
    margin: em(20) 0;
  }

  @include media($desktop-x) {
    display: inline-block;
    margin: em(10) em(15);
  }
}

.hello-world__link {
  text-decoration: none;
}
