// Index

.ortth {
  width: em(100);
  height: em(100);
  @include transition(all .2s ease-in-out);
  &:hover {
    * {
      fill: $aw;
    }
  }
}

.hello-world {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
  text-align: center;
}

.hello-world__text {

  @include media($mobile) {
    font-size: rem(22);
  }

  @include media($tablet) {
    font-size: rem(25);
    font-weight: bold;
  }

  @include media($desktop-x) {
    font-size: rem(30);
    font-weight: bold;
  }

}

.hello-world__symbol {
  font-size: rem(20);
}

.hello-world__list {
  list-style: none;
}

.hello-world__item {
  font-size: rem(20);

  @include media($mobile) {
    margin: em(10) 0;
  }

  @include media($tablet) {
    margin: em(20) 0;
  }

  @include media($desktop-x) {
    display: inline-block;
    margin: em(10) em(15);
  }
}

.hello-world__link {
  text-decoration: none;
}
