// Index

.hello-world {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
  text-align: center;
}

.lucas {
  display: block;
  margin: auto;
  border-radius: 100%;
}

.hello-world__text {
  font-size: rem(30);
  font-weight: bold;
}

.hello-world__item {

  @include media($mobile) {
    margin: em(20) 0;
  }

  @include media($tablet) {
    margin: em(20) 0;
  }

  @include media($desktop-x) {
    display: inline-block;
    margin: em(10) em(15);
  }
}

.hello-world__link {
  text-decoration: none;
}
